.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-img {
  width: 30%;
}

.not-found-heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #475569;
  margin-bottom: 0px;
}

.not-found-para {
  font-size: 20px;
  font-family: 'Roboto';
  color: #64748b;
}
